[submodule "Packages/poetools"]
	path = Packages/poetools
	url = git@github.com:poetahto/poetools.git
[submodule "Packages/Tri-Inspector"]
	path = Packages/Tri-Inspector
	url = git@github.com:codewriter-packages/Tri-Inspector.git
